## Tarea 1
##### Dataset de salarios (Científicos de datos)

https://www.kaggle.com/datasets/iamsouravbanerjee/data-science-salaries-2023

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Latest_Data_Science_Salaries.csv")
df.head(10)

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023
5,Data Scientist,Full-Time,Senior,Expert,126000,United States Dollar,United States,126000,United States,Medium,2023
6,Data Scientist,Full-Time,Senior,Expert,170000,United States Dollar,United States,170000,United States,Medium,2023
7,Data Scientist,Full-Time,Senior,Expert,130000,United States Dollar,United States,130000,United States,Medium,2023
8,Data Engineer,Full-Time,Mid,Intermediate,85000,British Pound Sterling,United Kingdom,104584,United Kingdom,Medium,2023
9,Data Engineer,Full-Time,Mid,Intermediate,75000,British Pound Sterling,United Kingdom,92280,United Kingdom,Medium,2023

# Ejercicio en Clase:

Para este ejercicio debes realizar los siguientes pasos de manera anticipada los siguientes procesos:
- Cargar el conjunto de datos desde un archivo CSV utilizando pandas.
- Explorar y familiarizarse con la estructura del conjunto de datos.
- Calcular estadísticas descriptivas, como el promedio, la mediana y la desviación estándar, de variables relevantes del conjunto de datos general.

#### Acciones por ejecutar

1. ¿Cúantos posibles "Job Title" existen en el Dataset?
2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?
3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?
4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?
5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?
6. ¿Cuál salario promedio por "Job Title" agrupado?
7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?
8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?
9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía?
10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio.

### Propuesta de solución

In [1]:
# Inserte la solución de cada pregunta

In [2]:
#1. ¿Cúantos posibles "Job Title" existen en el Dataset?
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("Latest_Data_Science_Salaries.csv")
df_data = len(df[["Job Title"]])
print(df_data)

3300

In [14]:
#2. ¿Cúales son los "Employment Type" y en qué frecuencia se presentan en el Dataset?
df_filter = df[["Employment Type"]]
print(df_filter)
#Falta filtrar

     Employment Type
0          Full-Time
1          Full-Time
2          Full-Time
3          Full-Time
4          Full-Time
...              ...
3295       Full-Time
3296       Full-Time
3297       Full-Time
3298        Contract
3299       Full-Time

[3300 rows x 1 columns]

In [ ]:
# 3. ¿Cuáles son los "Expertise Level" y "Experience Level" y cuál es el salario promedio general de cada uno?

In [ ]:
# 4. ¿Cuáles son los "Salary Currency" y a qué tasa está covertido respecto al dolar cada uno?

In [20]:
# 5. ¿En cuántos paises diferentes se encuentran los empleados ("Employee Residence")?
paises_diferentes = df["Employee Residence"].unique()
numero_de_paises_diferentes = len(paises_diferentes)
print("Número de países diferentes:", numero_de_paises_diferentes)

Número de países diferentes: 83

In [8]:
# 6. ¿Cuál salario promedio por "Job Title" agrupado?
import pandas as pd
data = pd.read_csv("Latest_Data_Science_Salaries.csv")
print(data.head())
salario_promedio_por_puesto = data.groupby("Job Title")["Salary"].mean()
print(salario_promedio_por_puesto)

        Job Title Employment Type Experience Level Expertise Level  Salary  \
0   Data Engineer       Full-Time           Senior          Expert  210000
1   Data Engineer       Full-Time           Senior          Expert  165000
2   Data Engineer       Full-Time           Senior          Expert  185900
3   Data Engineer       Full-Time           Senior          Expert  129300
4  Data Scientist       Full-Time           Senior          Expert  140000

        Salary Currency Company Location  Salary in USD Employee Residence  \
0  United States Dollar    United States         210000      United States
1  United States Dollar    United States         165000      United States
2  United States Dollar    United States         185900      United States
3  United States Dollar    United States         129300      United States
4  United States Dollar    United States         140000      United States

  Company Size  Year
0       Medium  2023
1       Medium  2023
2       Medium  2023
3       Medium  2023
4       Medium  2023
Job Title
AI Architect                       233500.000000
AI Developer                       133666.666667
AI Programmer                       62500.000000
AI Scientist                       263444.444444
AWS Data Architect                 258000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             120000.000000
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary, Length: 111, dtype: float64

In [9]:
# 7. ¿Cuál es el salario promedio por país de residencia (Employee Residence)?
salario_promedio_por_pais = data.groupby("Employee Residence")["Salary"].mean()
print(salario_promedio_por_pais)

Employee Residence
Algeria                 100000.000000
American Samoa           45555.000000
Andorra                  47000.000000
Argentina                56444.444444
Armenia                  50000.000000
                            ...
United Arab Emirates    100000.000000
United Kingdom           96596.857143
United States           159794.726050
Uzbekistan               82000.000000
Viet Nam                 44200.000000
Name: Salary, Length: 83, dtype: float64

In [4]:
# 8. ¿Cuál es el "Salary in USD" máximo y mínimo?¿A qué registro pertenece?
sal_max = df['Salary in USD'].max()
sal_min = df['Salary in USD'].min()

print ("Salario máximo en USD:",sal_max)
print ("Salario mínimo en USD:",sal_min)

Salario máximo en USD: 450000
Salario mínimo en USD: 15000

In [12]:
# 9. ¿Cuál es el salario promedio (en USD) por rol por tamaño de compañía? 
promedio_sal = df.groupby('Job Title')['Salary in USD'].mean()
print(promedio_sal)

Job Title
AI Architect                       237484.000000
AI Developer                       133177.777778
AI Programmer                       56021.750000
AI Scientist                       114117.333333
AWS Data Architect                 258000.000000
                                       ...
Sales Data Analyst                  60000.000000
Software Data Engineer             111627.666667
Staff Data Analyst                  97499.000000
Staff Data Scientist               134500.000000
Staff Machine Learning Engineer    185000.000000
Name: Salary in USD, Length: 111, dtype: float64

In [14]:
# 10. muestre los datos agrupados por tamaño de la compañía, país y salario promedio. 
agrupacion = df.groupby(['Company Location','Company Size'])['Salary in USD'].mean().reset_index()
print(agrupacion)

    Company Location Company Size  Salary in USD
0            Algeria       Medium  100000.000000
1     American Samoa        Large   50000.000000
2     American Samoa        Small   18053.000000
3            Andorra        Small   50745.000000
4          Argentina        Large   50000.000000
..               ...          ...            ...
130   United Kingdom       Medium  109117.449541
131   United Kingdom        Small   95451.333333
132    United States        Large  153165.880658
133    United States       Medium  160228.005467
134    United States        Small  113025.087719

[135 rows x 3 columns]